.songs-container{
    /* border: 2px solid wheat; */
    height: 60vh;
    margin-top: 2rem;
    overflow: scroll;
}

.songs-container h2{
    margin-top: 2rem;
}

::-webkit-scrollbar{
    display: none;
}